* { margin: 0; padding: 0; }
body {
    font: 14px Arial, serif;
    overflow:hidden;
}

#page-wrap > div {
    border: 1px solid #999; padding: 20px; margin-bottom: 5px; color: black;
}

#wrapper_all{
    position: relative;
    height: 100%;
    margin:  10px 10px 10px 10px;
}

#header {
    padding: 0 0 0 0 !important;
    position: relative;
    width: 100%;
    height: 90px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
    background: url(../img/header_loop.jpg); 
    background-color: #00aeeb;
    background-position: 63px 0;
    border-radius: 10px;
    overflow:hidden;
}

#companylogo{
    position: absolute;
    right:0;
    bottom:-17px;
    
}

#logo {

    position:relative;
    top:0;
    right:0;
    height: 90px;
}

#wrapper{
    position: absolute;
    width: 100%;
    top: 100px;
    bottom: 20px;
    display: block;
    border-radius: 10px;
    overflow:hidden;
}

#menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    float: left;
    background: url(../img/menu_bg.jpg) no-repeat;
    background-position: -440px -170px;
    background-color: #00aeeb;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
    overflow:hidden
}

#menu input{
    position: relative;
    padding: 4px 2px 2px 0 !important;
    width: 100%;
}

#menu a{
    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
    
}

#bert{
    position: absolute;
    top:0;
    left:0;
    right:0;
    min-height: 60px;
    hight:60px;
    background-color: #00aeeb;
    overflow:hidden
}

#content_wrapper{
    position: absolute;
    top:10px;
    left:0;
    bottom:0;
    right:0;
}

#content {
    position:absolute;
    left:200px;
    right:1px;
    top: 0;
    bottom: 0;
    background: url(../img/content_loop.jpg); 

    border-style:solid;
    border-width:5px;
    border-color:#00aeeb;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
    overflow:hidden;

}

#c_bert_bg{
    position:absolute;
    bottom: 0;
    right:0;
    height:100px;
}

#content_wrapper div{
    position:relative;
    width: 220px;
    top:50px;
    margin:0 auto;
}
#frame{

    position:absolute;
    height: 100%;
    width: 100%;
    border:0;
    overflow-x:auto;
    overflow-y:auto;
}

#menubg{
     position:absolute;
     top:-40px;
     left:-400px;
    
}
/* TREE MENU*/
ul.menu, .item-list ul {
  margin: 0.35em 0 0 0.5em; 
  padding: 0;
}

.item{
    position:relative;
    left:0px;
    padding: 0 0 2px 18px;
    list-style-type: none;
    list-style-image: none;
   
    background: url(../img/item.png) no-repeat 0 2px; 
    background-repeat:no-repeat;
    background-position:left top;

    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
}

.selected{
    position:relative;
    left:0px;
    padding: 0 0 2px 18px;
    list-style-type: none;
    list-style-image: none;
   
    background: url(../img/item_selected.png) no-repeat 0 2px; 
    background-repeat:no-repeat;
    background-position:left top;
    
    font-weight:bold;
    text-decoration:underline;
    color:#FFFFFF;
    text-shadow: 0 1px 2px #000000,
    0 0 1px #000000;  
}

.cat_close {
    position:relative;
    left:0px;
    padding: 0 0 0px 18px;
    list-style-type: none;
    list-style-image: none;
    color:#fff7b3;
    background-image:url(../img/closed.png);
    background-repeat:no-repeat;
    background-position:left top;
}
.cat_open {
    position:relative;
    left:0px;
    padding: 0 0 0px 18px;
    list-style-type: none;
    list-style-image: none;
    background-image:url(../img/open.png);
    background-repeat:no-repeat;
    background-position:left top;
}

.category a{
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none;  
}

