.headline{
	font-family: Arial;
	font-size: 25px;
	color: #FFFFFF;
	font-weight:bold;
	background-color:#00aeeb;
	width: 100%;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.lightBlueBg{
	background-color:#cde8ff;
}

.textfild{
	position: relative;
	height: 32px;
	width: 50px;
}
.textfildsys{
	position: relative;
	height: 32px;
	width: 150px;
}
.greenfield{
	position: relative;
	height: 32px;
	width: 50px;
	background-color: #00ff40;
        font-size: 16px;
	font-weight:bold;
	color: #FFFFFF;
}
.redfield{
	position: relative;
	height: 32px;
	width: 50px;
	background-color: #ff0000;
        font-size: 16px;
	font-weight:bold;
	color: #FFFFFF;
}
.orangfield{
	position: relative;
	height: 32px;
	width: 50px;
	background-color: #ff8000;
        font-size: 16px;
	font-weight:bold;
	color: #FFFFFF;
}
.textfild_error{
	background-color: #FF0000;
	color: #FFFFFF;
	font-weight:bold;	
}

.textfild2{
	position: relative;
	height: 32px;
        width: 100%;
        background-color:transparent;
        border-width: 3px;
        border-color: #00aeeb;
}

.whiteText{
    color: #FFFFFF;
}

/*Table*/
table, th, td
{
	font-family: Arial;
	border: 3px solid white;
	border-collapse:collapse;
}

th
{
	background-color:#00aeeb;
	color:white;
	
}

tr:nth-of-type(even) {
	background-color:#cde8ff;
} 

/*Select*/
select {
	width: 100%;
	height: 32px;
	padding: 5px;
	font-size: 16px;
	font-weight:bold;
	color:#035eab;
	
	border-width: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;

        background-color:transparent;
	/*background-color: #00aeeb;
         *color: #FFFFFF;
         *border-radius: 6px;
         **/
}
.selectkl{
	width: 50%;
	height: 32px;
	padding: 5px;
	font-size: 16px;
	font-weight:bold;
	color:#035eab;
	
	border-width: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;

        background-color:transparent;
	/*background-color: #00aeeb;
         *color: #FFFFFF;
         *border-radius: 6px;
         **/
}

/*Green Button*/
.buttonRed{
	height: 32px;
        width: 60%;
	background-repeat:no-repeat;
	background-color: #ce0202;
        font-size: 16px;
	font-weight:bold;
	color: #FFFFFF;
	border-width: 0;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.buttonRed:hover {
	background-color: #ff5656;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.buttonRed:active {
	background-color: #610505;
	box-shadow:inset 0 0 4px #016b90; 
}

/*Green Button*/
.buttonGreen{
	height: 32px;
        width: 60%;
	background-repeat:no-repeat;
	background-color: #0cac00;
        font-size: 16px;
	font-weight:bold;
	color: #FFFFFF;
	border-width: 0;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.buttonGreen:hover {
	background-color: #12d303;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.buttonGreen:active {
	background-color: #075d00;
	box-shadow:inset 0 0 4px #016b90; 
}


/*Normal Button*/
.buttonNorm{
	height: 32px;

	background-repeat:no-repeat;
	background-color: #00aeeb;
	
	border-width: 0;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.buttonNorm:hover {
	background-color: #00bdff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.buttonNorm:active {
	background-color: #009ad0;
	box-shadow:inset 0 0 4px #016b90; 
}

/*UP/DOWN Buttons*/
.doubleRight{
	background: url(../img/doubleArrowRight.png);
}

.singelRight{
	background: url(../img/arrowRight.png);
}

.doubleLeft{
	background: url(../img/doubleArrowLeft.png);
}

.singelLeft{
	background: url(../img/arrowLeft.png);
}

.minus{
	background: url(../img/arrowDown.png);
}

.plus{
	background: url(../img/arrowUp.png);
}

.dminus{
	background: url(../img/arrowDoubleDown.png);
}

.dplus{
	background: url(../img/arrowDoubleUp.png);
}

.button_arrow{
	height: 16px;
	width: 16px;

	background-repeat:no-repeat;
	background-color: #00aeeb;
	
	border-width: 0;
	border-radius: 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.button_arrow:hover {
	background-color: #00bdff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.button_arrow:active {
	background-color: #009ad0;
	box-shadow:inset 0 0 4px #016b90; 
}

.control{
	height: 34px;
	width: 100px;
	overflow: hidden;
}
.control input{
	position: relative;
	top: -68px;
}

.control div:nth-child(1){
	position: relative;
	top: 0;
	left: 52px;
}

.control div:nth-child(2){
	position: relative;
	top: -34px;
	left: 73px;
	clear: both;
}
.control_elements {
	width: 16px;
	height: 34px;
	top:0;
	
}

.control_elements button:nth-child(1){
	float: left;
}
.control_elements button:nth-child(2){
	position: relative;
	top:2px;
	float: left;
	clear: left;
}